<% if @jobs %>
  <ul class='all-jobs'>
    <% @jobs.each do |job| %>
      <li class='job-listing'>
        <h2><%= link_to job.role, job.url %></h2>
        <h4><%= job.company %></h4>
      </li>
    <% end %>
  </ul>
<% else %>
  There are currently no jobs
<% end %>